:root {
    --width-full: 100%;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Gruppo', cursive;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: white;
    opacity: 0.97;
    cursor: pointer;
}

header .logo {
    font-size: 20px;
}

header .logo .title {
    font-size: 30px;
}

.videoGrid {
    padding-top: 39px;
    display: grid;
    grid-template-columns: 1fr 275px;
}

.videoPage {
    width: var(--width-full);
}

.videoPage .videoMain video {
    display: block;
    width: var(--width-full);
    height: 70vh;
    background-color: darkslategrey;
}

.videoPage .videoText {
    display: block;
    margin: 20px 10px 10px 10px;
}

.videoPage .videoText .videoTitle h2 {
    /*width: 720px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoPage .videoContent .content {
    display: inline-block;
    /*width: 720px;*/
    line-height: 1.2;
}

.videoPage .videoContent .content.more {
    height: 4.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.videoPage .videoContent .moreBtn {
    float: right;
}

.videoList {
    overflow-y: scroll;
    height: 95vh;
    padding-right: 20px;
    border-style:none;

    scrollbar-face-color:#FFFFFF;
    scrollbar-3dlight-color:#FFFFFF;
    scrollbar-highlight-color:#FFFFFF;
    scrollbar-shadow-color:#000000;
    scrollbar-darkshadow-color:#FFFFFF;
    scrollbar-arrow-color:#000000;
    scrollbar-track-color:#FFFFFF; }

.videoList .playList {
    width: 275px;
    position: fixed;
    background-color: white;
    opacity: 0.97;
}

.videoList .playList h4 {
    text-align: center;
}

.nextVideos {
    padding-top: 65px;
}

.nextVideo {
    display: grid;
    grid-template-columns: 100px 170px;
    margin-left: 5px;
}

.nextVideo img {
    width: 100px;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.nextVideo .nextVideoTitle {
    margin-left: 5px;
    padding-top: calc(50% - 1em / 2);
    cursor: pointer;
}