.wrapper {
    display: grid;
    width: 640px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 30px;;
    margin-top: 50px;
}

.thumbnail {
    text-align: center;
}

.thumb_title {
    cursor: pointer;
}

.thumb_img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}
