.videoPage {
    width: 720px;
}

.videoPage video {
    display: block;
    width: 720px;
    height: 480px;
    background-color: darkslategrey;
}

.videoPage .videoText {
    display: block;
    margin-left: 10px;
}

.videoPage .videoText .videoTitle h2 {
    width: 720px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoPage .videoContent {
    display: inline-block;
    width: 720px;
}

.videoPage .moreBtn {
    float: right;
}

.videoPage .moreBtn.clicked {
    visibility: hidden;
}