.wrapper {
    display: grid;
    width: 900px;
    height: 750px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px
}

.thumbnail {
    text-align: center;
}

.thumbnail img {
    width: 100%;
    height: auto;
}
